/* Gauge */
.Gauge {
    width: fit-content;
    display: inline-block;
}

.Gauge > div[id^=Gauge] {
    text-align: center;
    font-size: 2em;
}

.Gauge .GaugeDescription {
    text-align: center;
    font-size: 1.4em;
}
