/* Gauge */
/* .Gauge {
    width: fit-content;
    display: inline-block;
}

.Gauge > div[id^=Gauge] {
    text-align: center;
    font-size: 2em;
}

.Gauge .GaugeDescription {
    text-align: center;
    font-size: 1.4em;
} */
/* .dashboard{
  width: 100%;
} */
* {
  /* margin: 0; */
  /* padding: 0; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-grow: 1;
}
html {
  background-color: #9c9b9b;
  overflow: hidden;
}
.root {
  height: 100vh;
  padding: 20px;
}